{% extends "EricoBackendBundle::liste.html.twig" %}

{% block page %}
	<li>
		Mot clé
	</li>
	
{% endblock %}
	
	
{% block contentTablehead %}
	<th class="col-xs-1" data-field="id" data-sortable="true">ID</th>
	<th class="col-xs-10" data-field="titre" data-sortable="true">Designation</th>
	<th class="col-xs-1" data-field="action" ></th>
{% endblock %}

{% block contentTableBody %}

{% for item in keywords %}
	<tr>
		<td>{{ item.id }}</td>
		<td>{{ item.designation }}</td>
		
		<td class="center">
			
			<div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    
                    
                    <li>
						<a class="" href="{{ path('erico_backend_updatekeyword_page', {'id': item.id})}}">
							<i class="glyphicon glyphicon-edit icon-white"></i>
							Modifier
						</a>
					</li>
					 <li class="divider"></li>
					<li>
						<a class="delete-content" href="#" data-designation="{{item.designation|capitalize}}" data-id="{{item.id}}>
						<i class="glyphicon glyphicon-trash icon-white"></i>
						Supprimer
					</a>
					</li>
                </ul>
            </div>
			
			
		</td>
	</tr>
{% endfor %}

{% endblock %}