{% extends "EricoBackendBundle::form.html.twig" %}

{% block page %}
	<li>
		<a href="#" class="prev">Document</a>
	</li>
	
{% endblock %}

{% block formTitle %}  Édition Document {% endblock %}

{% block contentForm %}

	{#{{ form_widget(form_document) }} #}
	
	{# Les erreurs générales du formulaire. #}
	
	{{ form_errors(form_document) }}
	
	<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="form-group">
			
			  <div class="col-md-12">
			  {{ form_label(form_document.designation, "Titre")}} : 
			  </div>
			  
			  <div class="col-md-12">
			  {{ form_errors(form_document.designation) }}
			  {{ form_widget(form_document.designation, {'attr':{'class':'form-control'}}) }}
			  </div>
			  
			</div>
		</div>
		
		<br/>
		
		
		
		<div class="row">
			<div class="form-group">
			
			  <div class="col-md-12">
			  {{ form_label(form_document.categories, "Catégorie (s)")}} : 
			  </div>
			  
			  <div class="col-md-12">
			  {{ form_errors(form_document.categories) }}
			  {{ form_widget(form_document.categories, {'attr':{'class':'form-control  selectcat'}}) }}
			  </div>
			  
			</div>
		</div>
		
		<a href="#" class="addcatlink"><i class="glyphicon glyphicon-plus"></i>  ajouter une nouvelle catégorie... </a>
		
		<br/><br/>
		
		<div class="row">
			<div class="form-group">
			
			  <div class="col-md-12">
			  {{ form_label(form_document.keywords, "Mot clé (s)")}} : 
			  </div>
			  
			  <div class="col-md-12">
			  {{ form_errors(form_document.keywords) }}
			  {{ form_widget(form_document.keywords, {'attr':{'class':'form-control  selectkey'}}) }}
			  {### 'data-rel':'chosen' ###}
			  </div>
			  
			</div>
		</div>
		<a href="#" class="addkeylink"><i class="glyphicon glyphicon-plus"></i>  ajouter un nouveau mot clé... </a>
		
		<br/><br/>
		
		<div class="row">
			<div class="form-group">
			
			  <div class="col-md-12">
			  {{ form_label(form_document.datePublish, "Publié le ")}} : 
			  </div>
			  
			  <div class="col-md-3">
			  {{ form_errors(form_document.datePublish) }}
			  {{ form_widget(form_document.datePublish, {'attr':{'class':''}}) }}
			  </div>
			  
			  <div class="col-md-2">
			  {{ form_errors(form_document.publier) }}
			  {{ form_widget(form_document.publier, {'attr':{'class':'form-control iphone-toggle'}}) }}
			  </div>
			  
			  
			</div>
		</div>
		
		<br/><br/>
	
		{{ form_rest(form_document) }}
	
	
{% endblock %}