{% extends "EricoBackendBundle::layout.html.twig" %}


{% block style %} 
	<link href="{{ asset('bundles/ericobackend/bower_components/Filterable-Multiple-Select-with-Checkboxes-fSelect/fSelect.css') }}" rel="stylesheet">
	<!-- style for select multiple fil -->
	<style>
	.fs-wrap {
		display: inline-block;
		cursor: pointer;
		line-height: 1;
		width:100%;
	}
	.fs-dropdown {
		position: absolute;
		background-color: #fff;
		border: 1px solid #ddd;
		width:93%;
		margin-top: 5px;
		z-index: 1000;
	}
	</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                
				<h2><i class="glyphicon glyphicon-edit"></i> {% block formTitle %} Form Elements {% endblock %}</h2>

                <!-- <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default">
						<i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
						<i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
                </div> -->
				
            </div>
            <div class="box-content">
                <form  method="POST" id="main-form">
				
					{% block contentForm %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">

                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
					
					 <div class="control-group">
                    <label class="control-label" for="selectError">Modern Select</label>

                    <div class="controls">
                        <select id="selectError" data-rel="chosen">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectError1">Multiple Select / Tags</label>

                    <div class="controls">
                        <select id="selectError1" multiple class="form-control" data-rel="chosen">
                            <option>Option 1</option>
                            <option selected>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectError2">Group Select</label>

                    <div class="controls">
                        <select data-placeholder="Your Favorite Football Team" id="selectError2" data-rel="chosen">
                            <option value=""></option>
                            <optgroup label="NFC EAST">
                                <option>Dallas Cowboys</option>
                                <option>New York Giants</option>
                                <option>Philadelphia Eagles</option>
                                <option>Washington Redskins</option>
                            </optgroup>
                            <optgroup label="NFC NORTH">
                                <option>Chicago Bears</option>
                                <option>Detroit Lions</option>
                                <option>Green Bay Packers</option>
                                <option>Minnesota Vikings</option>
                            </optgroup>
                            <optgroup label="NFC SOUTH">
                                <option>Atlanta Falcons</option>
                                <option>Carolina Panthers</option>
                                <option>New Orleans Saints</option>
                                <option>Tampa Bay Buccaneers</option>
                            </optgroup>
                            <optgroup label="NFC WEST">
                                <option>Arizona Cardinals</option>
                                <option>St. Louis Rams</option>
                                <option>San Francisco 49ers</option>
                                <option>Seattle Seahawks</option>
                            </optgroup>
                            <optgroup label="AFC EAST">
                                <option>Buffalo Bills</option>
                                <option>Miami Dolphins</option>
                                <option>New England Patriots</option>
                                <option>New York Jets</option>
                            </optgroup>
                            <optgroup label="AFC NORTH">
                                <option>Baltimore Ravens</option>
                                <option>Cincinnati Bengals</option>
                                <option>Cleveland Browns</option>
                                <option>Pittsburgh Steelers</option>
                            </optgroup>
                            <optgroup label="AFC SOUTH">
                                <option>Houston Texans</option>
                                <option>Indianapolis Colts</option>
                                <option>Jacksonville Jaguars</option>
                                <option>Tennessee Titans</option>
                            </optgroup>
                            <optgroup label="AFC WEST">
                                <option>Denver Broncos</option>
                                <option>Kansas City Chiefs</option>
                                <option>Oakland Raiders</option>
                                <option>San Diego Chargers</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <br>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" disabled>
                        Option two is disabled
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Option three is disabled
                    </label>
                </div>

                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                </label>

                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                </label>

                <br>
                <br>
				
				{% endblock%}
				
                    <button id="button-submit" type="submit" class="btn btn-default" data-loading-text=" <i class='fa fa-refresh fa-spin fa-lg'></i> Envoie en cours ...">Enregistrer</button>
					<!-- <button type="reset" class="btn btn-default">Annuler toutes les modifications</button> -->
					<a href="#" class="btn btn-default prev">Annuler</a>
					
                </form>
				
            </div>

        </div>
    </div>
    <!--/span-->

</div><!--/row-->

<!-- <div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Form Elements</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
               
                <br>

                <div class="form-group has-success col-md-4">
                    <label class="control-label" for="inputSuccess1">Input with success</label>
                    <input type="text" class="form-control" id="inputSuccess1">
                </div>
                <div class="form-group has-warning col-md-4">
                    <label class="control-label" for="inputWarning1">Input with warning</label>
                    <input type="text" class="form-control" id="inputWarning1">
                </div>
                <div class="form-group has-error col-md-4">
                    <label class="control-label" for="inputError1">Input with error</label>
                    <input type="text" class="form-control" id="inputError1">
                </div>

                <form class="form-inline" role="form">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="inputSuccess4">Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess4">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </form>

                <br>
                <div class="input-group col-md-4">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>
        </div>
    </div>

</div> -->

{% endblock %}


{% block javascripts %}

<script src="{{ asset('bundles/ericobackend/bower_components/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/ericobackend/bower_components/ckeditor/adapters/jquery.js') }}"></script>
	
	
	<script>
	$( document ).ready( function() {
	
		// file manager sans modal dialog
		
		$( 'textarea.texteditor' ).ckeditor({	
												height:300,
												filebrowserBrowseUrl: '{{ asset('bundles/ericobackend/bower_components/elFinder-2.0.7/elfinder.html') }}',
												/*toolbar: [
															[ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink' ],
															[ 'FontSize', 'TextColor', 'BGColor' ]
														 ]*/
											});
		
		
		$('#cancel').on('click', function (event) {
			
			//retour à la page précédente
			history.back();
		
		});
		
		
	} );
    </script>
	
<script src="{{ asset('bundles/ericobackend/bower_components/Filterable-Multiple-Select-with-Checkboxes-fSelect/fSelect.js') }}"></script>

<script>

    $(function() {
		
        /*$('.select-one').fSelect({
			placeholder: 'Selectionner un élément',
			numDisplayed: 10,
			overflowText: '{n} selections',
			searchText: 'Recherche',
			showSearch: true
        });*/
		
		$('.select-one').multiselect({
			enableFiltering: true,
			filterPlaceholder: 'Rechercher un élément...',
			enableCaseInsensitiveFiltering: true,
			maxHeight: 400,
			buttonWidth: '400px',
			numberDisplayed: 5,
			buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Aucun élément selectionné';
                }
                else if (options.length > 5) {
                    return 'Plus de 5 éléments selectionnés !';
                }
                 else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     return labels.join(', ') + '';
                 }
			},
		
		});
		
		$('.selectcat').multiselect({
			enableFiltering: true,
			filterPlaceholder: 'Rechercher une catégorie...',
			enableCaseInsensitiveFiltering: true,
			maxHeight: 300,
			dropUp: true,
			buttonWidth: '400px',
			numberDisplayed: 5,
			buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Aucun élément selectionné';
                }
                else if (options.length > 5) {
                    return 'Plus de 5 éléments selectionnés !';
                }
                 else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     return labels.join(', ') + '';
                 }
			},
		});
		
		$('.selectkey').multiselect({
			enableFiltering: true,
			filterPlaceholder: 'Rechercher un mot clé...',
			enableCaseInsensitiveFiltering: true,
			maxHeight: 300,
			dropUp: true,
			buttonWidth: '400px',
			numberDisplayed: 5,
			buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Aucun élément selectionné';
                }
                else if (options.length > 5) {
                    return 'Plus de 5 éléments selectionnés !';
                }
                 else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     return labels.join(', ') + '';
                 }
			},
		
		});
		
    });
	
</script>



{####### on affiche les forms ici car il ont besoin des bioblotheques js ######}

{{ render(controller('EricoBackendBundle:Default:popupForm')) }}

{% endblock %}
