<li><a class="ajax-link" href="{{ path('erico_backend_homepage') }}"><i class="glyphicon glyphicon-home"></i><span> Tableau de bord </span></a></li>
                        
<li class="nav-header">Contenu</li>

<li class="accordion">
	<a href="#textloi"><i class="glyphicon glyphicon-plus"></i><span> Texte de Loi</span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('erico_backend_texteloi_page') }}">Toutes les publications</a></li>
		<li><a href="{{ path('erico_backend_addtexteloi_page') }}">Ajouter une publication</a></li> 
		<!-- <li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li> -->
	</ul>
</li>

<li class="accordion">
	<a href="#juriprudence"><i class="glyphicon glyphicon-plus"></i><span> Jurisprudence </span></a>
	<ul class="nav nav-pills nav-stacked">
		<!-- <li><a href="{{ path('erico_backend_jurisprudence_page') }}">Toutes les publications</a></li>
		<li><a href="{{ path('erico_backend_addjurisprudence_page') }}">Ajouter une publication</a></li> -->
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li>

<li class="accordion">
	<a href="#documentation"><i class="glyphicon glyphicon-plus"></i><span> Doctrine </span></a>
	<ul class="nav nav-pills nav-stacked">
		<!-- <li><a href="{{ path('erico_backend_document_page') }}">Toutes les publications</a></li>
		<li><a href="{{ path('erico_backend_adddocument_page') }}">Ajouter une publication</a></li> -->
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li>



<!-- <li class="accordion">
	<a href="#"><i class="glyphicon glyphicon-plus"></i><span> Formulaire </span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li>

<li class="accordion">
	<a href="#"><i class="glyphicon glyphicon-plus"></i><span> Exercices et corrigés </span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li> -->

<!-- <li class="accordion">
	<a href="#"><i class="glyphicon glyphicon-plus"></i><span> Pages </span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li> -->

<li class="accordion">
	<a href="#blog"><i class="fa fa-newspaper-o"></i><span> Actualité/Blog </span></a>
	<ul class="nav nav-pills nav-stacked">
	<!-- 	<li><a href="{{ path('erico_backend_article_page') }}">Toutes les publications</a></li>
		<li><a href="{{ path('erico_backend_addarticle_page') }}">Ajouter une publication</a></li> -->
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li>

<li class="accordion">
	<a href="#page"><i class="fa fa-book"></i><span> Page </span></a>
	<ul class="nav nav-pills nav-stacked">
		<!-- <li><a href="{{ path('erico_backend_page_page') }}">Toutes les publications</a></li>
		<li><a href="{{ path('erico_backend_addpage_page') }}">Ajouter une publication</a></li> -->
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li>

<li>
	<!-- <a href="{{ path('erico_backend_comment_page') }}"><i class="fa fa-comments-o"></i><span> Commentaires </span> <span class="badge bg-red">{{ nbrcomment }}</span> </a> -->
	<a href="#"><i class="fa fa-comments-o"></i><span> Commentaires </span> <span class="badge bg-red">5</span> </a>
</li>

<li>
	<!-- <a href="{{ path('erico_backend_message_page') }}"><i class="glyphicon glyphicon-envelope"></i><span> Messages  </span> <span class="badge bg-red">{{ nbrmessage }}</span></a> -->
	<a href="#"><i class="glyphicon glyphicon-envelope"></i><span> Messages  </span> <span class="badge bg-red">4</span></a>
</li>

<!-- <li><a href="{{ path('erico_backend_media_page') }}"><i class="glyphicon glyphicon-picture"></i><span> Médiathèque </span></a></li> -->
<li><a href="#"><i class="glyphicon glyphicon-picture"></i><span> Médiathèque </span></a></li>

<!-- <li class="accordion">
	<a href="#documentation"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span> Produit </span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('erico_backend_produit_page') }}">Toutes les publications</a></li>
		<li><a href="{{ path('erico_backend_addproduit_page') }}">Ajouter une publication</a></li>
		<li><a href="#">Toutes les publications</a></li>
		<li><a href="#">Ajouter une publication</a></li>
	</ul>
</li> -->

<li class="nav-header">Organisation du Contenu</li>
<li class="accordion">
	<a href="#categorie"><i class="fa fa-folder"></i><span> Catégorie</span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('erico_backend_cat_page') }}">Toutes les catégories</a></li>
		<li><a href="{{ path('erico_backend_addcat_page') }}">Ajouter une catégorie</a></li>
		<!-- <li><a href="#">Toutes les catégories</a></li>
		<li><a href="#">Ajouter une catégorie</a></li> -->
	</ul>
</li>


<li class="accordion">
	<a href="#keyword"><i class="fa fa-tags"></i><span> Mots clé</span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('erico_backend_keyword_page') }}">Tous les mots clés</a></li>
		<li><a href="{{ path('erico_backend_addkeyword_page') }}">Ajouter un mot clé</a></li>
		<!-- <li><a href="#">Tous les mots clés</a></li>
		<li><a href="#">Ajouter un mot clé</a></li> -->
	</ul>
</li>


<!-- <li class="nav-header">Apparence</li>
<li class="accordion">
	<a href="#menu"><i class="fa fa-bars"></i><span> Menus </span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('erico_backend_menu_page') }}">Tous les menus</a></li>
		<li><a href="{{ path('erico_backend_addmenu_page') }}">Ajouter un menu</a></li>
		<li><a href="#">Tous les menus</a></li>
		<li><a href="#">Ajouter un menu</a></li>
	</ul>
</li>
 -->
<li class="nav-header hidden-md">Sécurité</li>
						
<li class="accordion">
	<a href="#user"><i class="fa fa-user"></i><span> Utilisateur </span></a>
	<ul class="nav nav-pills nav-stacked">
		<!-- <li><a href="{{ path('erico_backend_user_page') }}"> Tous les utilisateurs </a></li>
		<li><a href="{{ path('erico_backend_adduser_page') }}"> Ajouter un utilisateur </a></li> -->
		<li><a href="#"> Tous les utilisateurs </a></li>
		<li><a href="#"> Ajouter un utilisateur </a></li>
	</ul>
</li>

<!-- <li class="accordion">
	<a href="#user"><i class="fa fa-id-card"></i><span> Abonnement </span></a>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#"> Tous les offres d'abonnements </a></li>
		<li><a href="#"> Ajouter un abonnement </a></li>
	</ul>
</li> -->

<li class="nav-header hidden-md">Paramètres</li>

<!-- <li><a href="{{ path('erico_backend_setting_page') }}"><i class="fa fa-cog"></i><span> paramètres généraux </span></a></li>
 -->
 <li><a href="#"><i class="fa fa-cog"></i><span> paramètres généraux </span></a></li>

{% if is_granted('ROLE_SUPER_ADMIN') %}
<!-- <li><a href="{{ path('erico_backend_appsetting_page') }}"><i class="fa fa-cog"></i><span> App </span></a></li> -->
<!-- <li><a href="#"><i class="fa fa-cog"></i><span> App </span></a></li> -->
{% endif %}
